@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-100;
  font-family: 'SourceCode Pro', sans-serif;
}

label {
  @apply text-slate-200;
}

.start-over-btn {
  @apply absolute;
  top: 1rem;
  left: 2rem;
}
