@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-100;
  font-family: 'SourceCode Pro', sans-serif;
}

.w-fit-content {
  width: fit-content !important;
}

label {
  @apply text-slate-200;
}

.start-over-btn {
  @apply absolute;
  top: 1rem;
  left: 2rem;
}

.signout-btn {
  @apply bg-[#2e026d] text-white p-4 rounded-lg shadow-lg hover:bg-[#15162c] cursor-pointer;
}

.dropdown-wrapper {
  @apply absolute;
  top: 26px;
}